[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
boto3 = "*"
ujson = "*"

[dev-packages]
aws-cdk-lib = "*"
shared-infrastructure = { editable = true, git = "https://github.com/soccer-analysis/shared-infrastructure.git" }

[requires]
python_version = "3.9"
